:root{
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);;
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
    
}
.custom-h2{
    font-weight: bold;
    color: var(--Very-Dark-Blue);
    margin-bottom: 35px;
}
.custom-p{
    color: var(--Grayish-Blue);
    font-weight: 700;
}
body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    overflow-x:hidden ;
}
.popup-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(229deg 31% 21% / 95%);
    z-index: 10;
    transition: opacity .3s;
    will-change: opacity;
}
.popup-overlay.faded-out {
    opacity: 0;
}
.popup-overlay.faded-in {
    opacity: 1;
}
.popup-overlay .main-content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 30%;
}
@media(min-width:576px) {
    .popup-overlay .main-content {
        width: 100%;
    }
    .popup-overlay .main-content ul li:last-of-type {
        width: 60%;
    }
}
.popup-overlay .main-content ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #FFF;
    padding: 15px 0px;
    margin: 0;
    border-top: 1px solid #eeeeee30;
}
.popup-overlay .main-content ul li{
    border-bottom: 1px solid #eeeeee30;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    transition: color .2s ease-in-out;
}
.popup-overlay .main-content ul li:hover{
    color: var(--Soft-Red);
}
.popup-overlay .main-content ul li:last-of-type{
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
}
.popup-overlay .social-links{
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 28%;
    display: flex;
    justify-content: space-around;
}
@media (min-width:1400px){
    .popup-overlay{
        display: none;
    }
}
/* start navbar */
.navbar{
    z-index: 12;
}
.navbar .container{
    display: block;
}
.navbar .row{
    align-items: center;
    padding: 30px 0px 30px 0px;
}
.navbar .logo{
    max-width: 220px;
}
.navbar .logo img{
    width: 100%;
}
.navbar .logo img.overlayed{
    filter: invert(100%) hue-rotate(169deg);
}
.navbar .links{
    text-align: right;
}
.navbar img.hamburger{
    cursor: pointer;
}
.navbar .links ul{
    padding: 0;
    margin: 0;
}
.navbar .links ul li{
    display: inline-block;
    color: hsl(0deg 0% 34%);
    font-size: 18px;
    margin-right: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: color .2s ease-in-out;
}
.navbar .links ul li:hover{
    color: var(--Soft-Red);
}
.navbar .links ul li:last-of-type{
    color: #FFF;
    padding: 10px 33px;
    background-color: var(--Soft-Red);
    border: 1px solid transparent;
    transition: color,background-color .2s ease-in-out;
}
.navbar .links ul li:last-of-type:hover{
    color: hsl(0deg 0% 34%);
    background-color: transparent;
    border-color: var(--Soft-Red);
}
@media(max-width:1399px){
    .navbar .links ul li{
        display: none;
    }
}
@media (min-width:1400px){
    .navbar img.hamburger{
        display: none;
    }
}
/* end navbar*************************************************************************/

/* start first section */
.first-section{
    position: relative;
}
.first-section .simple-bookmark h2{
    font-size: 65px;
    font-weight: bold;
    color: var(--Very-Dark-Blue);
    margin-bottom: 35px;
}
.first-section .simple-bookmark p{
    color: var(--Grayish-Blue);
    font-size: 22px;
    font-weight: 700;
}
.first-section .simple-bookmark .two-buttons{
    width: fit-content;
    margin-top: 30px;
}
.first-section .simple-bookmark .two-buttons span{
    padding: 15px 30px;
    border-radius: 7px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    transition: color, background-color .2s ease-in-out;
}
.first-section .simple-bookmark .two-buttons span.first{
    background-color: var(--Soft-Blue);
    border: 2px solid transparent;
    color: #FFF;
}
.first-section .simple-bookmark .two-buttons span.first:hover{
    color: var(--Soft-Blue);
    background-color: #FFF;
    border-color: var(--Soft-Blue);
}
.first-section .simple-bookmark .two-buttons span.second{
    color: hsl(229deg 2% 36%);
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-left: 25px;
    box-shadow: 1px 4px 5px #e7e7e7;
    border: 2px solid transparent;
}
.first-section .simple-bookmark .two-buttons span.second:hover{
    border-color: hsl(229deg 2% 36%);
    background-color: #FFF;
}
.first-section .tap1 img{
    max-width: 100%;
    position: relative;
}
.first-section .rad{
    height: 400px;
    background-color: var(--Soft-Blue);
    position: absolute;
    z-index: -1;
    border-radius: 185px 0px 0px 185px;
    right: 0px;
    width: 36%;
    bottom: 10px;
}

@media (min-width: 1200px){
    .first-section{
        margin-bottom: 240px;
        margin-top: 90px;
    }
    .first-section .tap1 img{
        max-width: 100%;
        position: absolute;
        right: -7px;
    }
}
@media (min-width:1400px) {
    .first-section {
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0;
        height: 90vh;
    }
    .first-section .rad {
        height: 58%;
        width: 32%;
        top: 215px;        
    }
    .first-section .simple-bookmark{
        margin-top: 90px;
    }
}
@media (min-width:1600px){
    .first-section .rad {
        height: 57%;
        width: 32%;
        top: 220px;
    }
    .first-section .tap1 img{
        max-width: 100%;
        position: absolute;
        right: 10px;
    }
}
@media (min-width: 1800px){
    .first-section .rad{
        height: 50%;
        width: 30%;
        top: 240px;        
    }
    .first-section .tap1 img{
        max-width: 100%;
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media (max-width:1400px){
    .first-section .rad {
        height: 80%;
        width: 33%;
        top: 120px;
    }
}
@media (max-width: 1200px){
    .first-section {
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .first-section .rad {
        height: 46%;
        width: 32%;
        top: 215px;
    }
    .first-section .tap1 img{
        right: -43px;
        top: 143px;
    }
    .first-section .tap1 .rad{
        width: 595px;
        height: 259px;
        bottom: 146px;
        background-color: var(--Soft-Blue);
        position: absolute;
        right: -147px;
        border-radius: 154px;
        z-index: -1;
    }
    .first-section .simple-bookmark{
        margin-top: 90px;
    }
}
@media (max-width:992px){
    .first-section{
        margin-bottom: 120px;
        padding: 0;
    }
    .first-section .row {
        height: 680px;
        position: relative;
    }
    .first-section .tap1{
        display: flex;
    }
    .first-section .tap1 img {
        right: 0;
        top: 0;
        max-width: 83%;
        margin: auto;
    }
    .first-section .simple-bookmark{
        position: absolute;
        bottom: 0;
    }
    .first-section .tap1{
        position: absolute;
        top: 14px;
    }
    .first-section .simple-bookmark h2{
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    .first-section .simple-bookmark p {
        text-align: center;
        color: var(--Grayish-Blue);
        font-size: 21px;
        font-weight: bold;
        width: 84%;
        margin: auto;
    }
    .first-section .simple-bookmark .two-buttons{
        width: fit-content;
        margin: 0 auto;
        margin-top: 34px;
    }
    .first-section .simple-bookmark .two-buttons span {
        padding: 12px 12px;
        font-size: 18px;
    }
    .first-section .simple-bookmark .two-buttons span:last-of-type{
        margin-left: 17px;
    }
    .first-section .rad {
        height: 33%;
        width: 68%;
        top: 170px;
    }
    .first-section h2{
        font-size: 32px !important;
    }
    .first-section p{
        font-size: 19px !important;
    }
}
@media (max-width:768px){
    .first-section{
        padding: 0;
    }
    .first-section .row{
        height: 660px;
    }
    .first-section .rad{
        height: 33%;
        width: 68%;
        top: 170px;
    }
    .first-section .tap1 img{
        max-width: 100%;
    }
}
@media (max-width:576px){
    .first-section{
        margin-bottom: 120px;
        padding: 0;
    }
    .first-section .row {
        height: 700px;
        position: relative;
    }
    .first-section .simple-bookmark{
        position: absolute;
        bottom: 0;
    }
    .first-section .tap1{
        position: absolute;
        top: 41px;
    }
    .first-section .simple-bookmark h2{
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    .first-section .simple-bookmark p {
        text-align: center;
        color: var(--Grayish-Blue);
        font-size: 21px;
        font-weight: bold;
        width: 84%;
        margin: auto;
    }
    .first-section .simple-bookmark .two-buttons{
        width: fit-content;
        margin: 0 auto;
        margin-top: 34px;
    }
    .first-section .simple-bookmark .two-buttons span {
        padding: 12px 12px;
        font-size: 18px;
    }
    .first-section .simple-bookmark .two-buttons span:last-of-type{
        margin-left: 17px;
    }
    .first-section .rad {
        right: 0px;
        width: 70%;
        height: 44%;
        top: 108px;
    }
    .first-section h2{
        font-size: 32px !important;
    }
    .first-section p{
        font-size: 19px !important;
    }
}
@media (max-width: 520px) {
    .first-section .rad{
        height: 37%;
    }
}
@media (max-width: 468px) {
    .first-section .rad{
        height: 35%;
    }
}
@media (max-width: 400px) {
    .first-section .rad{
        height: 28%;
    }
}
@media (max-width:376px){
    .first-section{
        margin-bottom: 120px;
        padding: 0;
    }
    .first-section .row{
        height: 660px;
        position: relative;
    }
    .first-section .simple-bookmark{
        position: absolute;
        bottom: 0;
    }
    .first-section .tap1{
        position: absolute;
        top: 41px;
    }
    .first-section .simple-bookmark h2{
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    .first-section .simple-bookmark p{
        text-align: center;
        color: var(--Grayish-Blue);
        font-size: 15px;
        font-weight: bold;
        width: 100%;
    }
    .first-section .simple-bookmark .two-buttons{
        width: fit-content;
        margin: 0 auto;
        margin-top: 34px;
    }
    .first-section .simple-bookmark .two-buttons span{
        padding: 12px 12px;
        font-size: 14px;
    }
    .first-section .simple-bookmark .two-buttons span:last-of-type{
        margin-left: 17px;
    }
    .first-section .rad{
        right: 0px;
        width: 70%;
        top: 100px;
        height: 30%;
    }
}
/* end first section************************************************************************ */

/* start features */
.Features{
    position: relative;
}
.Features h2.f-h2{
    font-weight: bold;
    color: var(--Very-Dark-Blue);
    margin-bottom: 20px;
    font-size: 42px;
}
.Features p.f-p{
    margin: 0 auto;
    font-size: 22px;
}
.Features .three-tabs{
    margin: auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 66%;
    padding: 0;
    border-bottom: 1px solid #cfcfcf;
}
.Features .three-tabs span{
    padding: 0px 40px 10px 40px;
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    cursor: pointer;
    transition: color .3s ease-in-out;
    border-bottom: 4px solid transparent;
    transition: border-color .5s ease-in-out;
}
.Features .three-tabs span:hover{
    color: var(--Soft-Red);
}
.Features .three-tabs span.active{
    border-color: var(--Soft-Red);
}

.Features .simple-bookmarking{
    margin-top: 80px;
}
.Features .simple-bookmarking .first-image img{
    transition: opacity .5s;
    will-change: opacity;
}
.Features .simple-bookmarking .first-image img.faded-out {
    opacity: 0;
}
.Features .simple-bookmarking .content{
    padding-left: 90px;
    padding-top: 50px;
}
.Features .simple-bookmarking .content p{
    max-width: 95%;
    font-size: 22px;
    margin-bottom: 30px;
}
.Features .simple-bookmarking .content span.btn{
    color: #FFF;
    padding: 10px 33px;
    background-color: var(--Soft-Blue);
    border: 1px solid transparent;
    transition: color,background-color .2s
}
.Features .simple-bookmarking .content span.btn:hover{
    background-color: transparent;
    color: black;
    border-color: var(--Soft-Blue);
}
@media (min-width: 1700px){
    .Features .simple-bookmarking .first-image img{
        width: 100%;
        margin-left: -85px;
    }
}
@media (min-width:1400px) {
    .Features p.f-p{
        max-width: 50%;
    }
}
@media (min-width: 1200px){
    .Features .simple-bookmarking .first-image .rad{
        height: 45%;
        background-color: var(--Soft-Blue);
        position: absolute;
        z-index: -1;
        border-radius: 0px 185px 185px 0px;
        left: 0px;
        width: 36%;
        bottom: -67px;
    }
}

@media (max-width: 1200px){
    .Features .three-tabs{
        margin: auto;
        margin-left: 0;
        margin-top: 60px;
        width: 100%;
        max-width: 100%;
    }
    .Features .simple-bookmarking {
        flex-flow: column;
    }
    .Features .simple-bookmarking .first-image .rad{
        height: 34%;
        background-color: var(--Soft-Blue);
        position: absolute;
        z-index: -1;
        border-radius: 0px 185px 185px 0px;
        left: 0px;
        width: 48%;
        top: 57%;
        transform: translateY(-50%);
    }
    .Features .simple-bookmarking .first-image img{
        width: 80%;
        margin: auto;
        display: block;
    }
    .Features .simple-bookmarking .content{
        padding-left: 0;
        margin-top: 100px;
    }
    .Features .simple-bookmarking .content h2{
        text-align: center;
    }
    .Features .simple-bookmarking .content p{
        text-align: center;
        font-size: 16px;
        max-width: 100%;
    }
    .Features .simple-bookmarking .content .two-buttons{
        text-align: center;
    }
    .Features h2{
        font-size: 32px !important;
    }
    .Features p{
        font-size: 19px !important;
    }
}
@media (max-width:992px){
    .Features .simple-bookmarking .first-image .rad {
        height: 30%;
    }
}
@media (max-width: 768px){
    /* .Features .simple-bookmarking .first-image .rad {
        width: 804px;
        height: 255px;
    } */
}
@media (max-width: 576px){
    .Features .three-tabs{
        max-width: 100%;
        flex-flow: column;
        border-top: 1px solid #cfcfcf;
    }
    .Features .simple-bookmarking .first-image .rad{
        height: 20%;
        top: 61%;
        width: 60%;
    }
    .Features .three-tabs span:first-of-type{
        margin-top: 25px;
    }
    .Features .three-tabs span{
        margin-bottom: 25px;
    }
    .Features .row{
        max-width: 90%;
        margin: auto;
    }
    .Features .simple-bookmarking {
        flex-flow: column;
    }
    .Features .simple-bookmarking .first-image img{
        width: 100%
    }
    .Features .simple-bookmarking .content{
        padding-left: 0;
        margin-top: 100px;
    }
    .Features .simple-bookmarking .content h2{
        text-align: center;
    }
    .Features .simple-bookmarking .content p{
        text-align: center;
        font-size: 16px;
        max-width: 100%;
    }
    .Features .simple-bookmarking .content .two-buttons{
        text-align: center;
    }
    .Features h2{
        font-size: 32px !important;
    }
    .Features p{
        font-size: 19px !important;
    }
}
@media (max-width:420px){
    .Features .simple-bookmarking .first-image .rad{
        height: 17%;
        top: 59%;
        width: 64%;
    }
}
@media (max-width:376px){
    .Features .row{
        max-width: 90%;
        margin: auto;
    }
    .Features .f-h2{
        width: 100%;
        text-align: center;
        font-size: 32px;
    }
    .Features p.f-p{
        text-align: center;
        color: var(--Grayish-Blue);
        font-size: 15px;
        font-weight: bold;
        max-width: 100%;
    }
    .Features .three-tabs{
        max-width: 100%;
        flex-flow: column;
        border-top: 1px solid #cfcfcf;
    }
    .Features .three-tabs span:first-of-type{
        margin-top: 25px;
    }
    .Features .three-tabs span{
        margin-bottom: 25px;
    }
    .Features .simple-bookmarking {
        flex-flow: column;
    }
    .Features .simple-bookmarking .first-image img{
        width: 85%;
        top: -10px;
        position: relative;
    }
    .Features .simple-bookmarking .content{
        padding-left: 0;
        margin-top: 100px;
    }
    .Features .simple-bookmarking .content h2{
        text-align: center;
    }
    .Features .simple-bookmarking .content p{
        text-align: center;
        font-size: 16px;
        max-width: 100%;
    }
    .Features .simple-bookmarking .content .two-buttons{
        text-align: center;
    }
    .Features .simple-bookmarking .first-image .rad{
        height: 15%;
        top: 58%;
        width: 65%;
    }

}
/* end features************************************************************************ */

/* start Download */
.Download{
    margin-top: 200px;
}
.Download h2.f-h2{
    font-size: 42px;
}
.Download p.f-p{
    max-width: 50%;
    margin: 0 auto;
    font-size: 21px;
}
.Download .browsers{
    justify-content: center;
    margin-top: 60px;
    height: 460px;
}
.Download .browsers div{
    width: calc(100% / 3 - 90px);
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 8px 20px 0px hsl(231deg 66% 60% / 13%);
    border-radius: 8px;
    margin-right: 35px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Download .browsers div img{
    width: 40%;
    width: 36%;
    margin-bottom: 15px;
}
.Download .browsers div h2{
    margin-bottom: 7px;
}
.Download .browsers div hr{
    width: 106%;
    border: 6px dotted #c9c9c9;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
}
.Download .browsers span{
    padding: 15px 40px;
    border-radius: 7px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    transition: color, background-color .2s ease-in-out;
    background-color: var(--Soft-Blue);
    border: 2px solid transparent;
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: -20px;
}
.Download .browsers span:hover{
    color: var(--Soft-Blue);
    background-color: #FFF;
    border-color: var(--Soft-Blue);
}
@media(min-width:1200px){
    .Download .browsers,
    .Features .simple-bookmarking {
        display: flex;
    }
}
@media (max-width: 1200px){
    .Download .browsers{
        display: flex;
        justify-content: space-around;
    }
    .Download .browsers div{
        width: calc(100% / 3);
    }
}
@media (max-width:992px){
    .Download {
        margin-top: 100px;
    }
    .Download h2.f-h2{
        font-size: 32px !important;
    }
    .Download p.f-p{
        font-size: 19px !important;
        max-width: 90%;
    }
    .Download .browsers{
        flex-flow: column;
        height: fit-content;
    }
    .Download .browsers div {
        width: 47%;
        align-self: unset !important;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 768px){
    .Download .browsers div {
        width: 63%;
        align-self: unset !important;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media (max-width:576px){
    .Download {
        margin-top: 100px;
    }
    .Download h2.f-h2{
        font-size: 32px !important;
    }
    .Download p.f-p{
        font-size: 19px !important;
        max-width: 90%;
    }
    .Download .browsers{
        flex-flow: column;
        height: fit-content;
    }
    .Download .browsers div {
        width: 63%;
        align-self: unset !important;
        margin: auto;
        margin-bottom: 30px;
    }
}
@media (max-width:500px){
    .Download .browsers span{
        padding: 15px 20px;
    }
}
@media (max-width:430px){
    .Download .browsers div{
        width: 76%;
    }
}
@media (max-width:385px){
    .Download .browsers div{
        width: 85%;
    }
}
@media(max-width:376px){
    .Download .browsers{
        flex-flow: column;
        height: fit-content;
    }
    .Download h2.f-h2{
        text-align: center;
        font-size: 25px;
    }
    .Download p.f-p{
        max-width: 95%;
        font-size: 16px;
    }
    .Download .browsers div{
        width: 90%;
        align-self: unset !important;
        margin-bottom: 30px;
    }
}
/* end Download*************************************************************************/

/* start questions */
.Questions{
    margin-top: 200px;
}
.Questions .row{
    flex-flow: column;
}
.Questions p.f-p{
    max-width: 50%;
    margin: 0 auto;
    font-size: 21px;
}
.Questions .questions{
    border: 1px solid #d5d5d5;;
    border-right: none;
    border-left: none;
    max-width: 50%;
    margin: auto;
    margin-top: 60px;
    padding: 0;
}
.Questions .questions div{
    padding: 20px;
    border-bottom: 1px solid #d5d5d5;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
}
.Questions .questions div.top-content span:hover{
    color: var(--Soft-Red);
}
.Questions .questions div .top-content{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    align-items: center;
}
.Questions .questions div .top-content:first-of-type{
    padding:0;
}
.Questions .questions div .top-content:last-of-type{
    padding:0;
}
.Questions .questions div p{
    font-size: 18px;
    max-width: 90%;
    margin: 15px 0px 15px 0px;
    font-weight: 500;
    word-break: break-all;
    display: none;
    transition: opacity .5s;
    will-change: opacity;
}
.Questions .questions div p.faded-out {
    opacity: 0;
}
.Questions .questions div p.show{
    display: block;
}
.Questions .questions div img{
    cursor: pointer;
}
.Questions .questions div img.active{
    transform: rotate(180deg);
}
.Questions .questions div:last-of-type{
    border-bottom: none;
}
.Questions span.btn{
    color: #FFF;
    padding: 10px 33px;
    background-color: var(--Soft-Blue);
    border: 1px solid transparent;
    transition: color,background-color .2s;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}
.Questions span.btn:hover{
    color: var(--Soft-Blue);
    background-color: #FFF;
    border-color: var(--Soft-Blue);
}
@media (max-width:992px){
    .Questions{
        margin-top: 100px;
    }
    .Questions .row{
        flex-flow: column;
        max-width: 90%;
        margin: auto;
    }
    .Questions p.f-p{
        max-width: 90%;
        font-size: 19px;
    }
    .Questions .questions{
        max-width: 100%;
    }
    .Questions .questions div{
        padding: 20px 0px 20px 0px;
        font-size: 18px;
    }
}
@media (max-width:576px){
    .Questions .row{
        flex-flow: column;
        max-width: 90%;
        margin: auto;
    }
}
@media (max-width:400px){
    .Questions .questions div{
        font-size: 16px;
    }
}
@media (max-width:376px){
    .Questions {
        margin-top: 100px;
    }
    .Questions .row{
        width: 90%;
        margin: auto;
    }
    .Questions h2.f-h2{
        padding: 0;
    }
    .Questions p.f-p{
        max-width: 100%;
        font-size: 18px;
    }
    .Questions .questions{
        max-width: 100%;
    }
    .Questions .questions div{
        padding: 20px 0px 20px 0px;
        font-size: 15px;
    }
}
/* end questions*************************************************************************/

/* start stay-up*/
.stay-up{
    height: 460px;
    margin-top: 100px;
    padding: 100px 0px 100px 0px;
    background-color: var(--Soft-Blue);
    color: #FFF;
}
.stay-up .row{
    flex-flow: column;
}
.stay-up span.count{
    max-width: 25%;
    margin: 0 auto;
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 17px;
}
.stay-up .stay-h2{
    max-width: 40%;
    margin: 0 auto;
    font-weight: 800;
    font-size: 35px;
    margin-top: 30px;
}
.stay-up .contact-form{
    max-width: 50%;
    margin: 0 auto;
    font-weight: 800;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.stay-up .contact-form input[type="text"]{
    padding: 9px 38px;
    border-radius: 5px;
    border: none;
    width: 69%;
}
.stay-up .contact-form input[type="submit"]{
    color: #FFF;
    padding: 10px 33px;
    background-color: var(--Soft-Red);
    border: 1px solid transparent;
    border-radius: 7px;
    transition: color,background-color .2s ease-in-out;
}
.stay-up .contact-form input[type="submit"]:hover{
    color: hsl(0deg 0% 34%);
    background-color: #FFF;
    border-color: var(--Soft-Red)
}
.stay-up .contact-form input[type="text"]:focus{
    outline: none;
}
@media (max-width: 1400px){
    .stay-up .contact-form{
        max-width: 70%;
    }
}
@media (max-width: 1200px){
    .stay-up .contact-form{
        max-width: 70%;
    }
}
@media(max-width:992px){
    .stay-up span.count{
        max-width: 100%;
    }
    .stay-up .stay-h2{
        max-width: 100%;
        font-size: 25px;
    }
    .stay-up .contact-form{
        flex-flow: column;
        max-width: 70%;
        margin-top: 55px;
    }
    .stay-up .contact-form input[type="text"]{
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
    }
}
@media(max-width:376px){
    .stay-up span.count{
        max-width: 100%;
    }
    .stay-up .stay-h2{
        max-width: 100%;
        font-size: 25px;
    }
    .stay-up .contact-form{
        flex-flow: column;
        max-width: 100%;
    }
    .stay-up .contact-form input[type="text"]{
        max-width: 100%;
        width: 100%;
        margin-bottom: 15px;
    }
}
/* end stay-up*************************************************************************/

/* start footer */
.footer{
    height: 100px;
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: var(--Very-Dark-Blue);
}
.footer .footer-links{
    margin-top: 15px;
}
.footer .footer-links ul{
    display: inline-block;
}
.footer .footer-links ul li{
    display: inline-block;
    margin-right: 60px;
    cursor: pointer;
    transition: color .3s ease-in-out;
}
.footer .footer-links ul li:hover{
    color: var(--Soft-Red);
}
.footer .footer-links img{
    background-color: #FFF;
    margin-right: 50px;
}
.footer .footer-social{
    margin-top: 15px;
    text-align: right;
}
.footer .footer-social img{
    margin-left: 35px;
    width: 30px;
}
@media (max-width:1400px){
    .footer .footer-links img{
        margin-right: 10px;
    }
}
@media (max-width:992px){
    .footer{
        height: fit-content;
        font-size: 26px;
    }
    .footer .row{
        flex-flow: column;
    }
    .footer .footer-links{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .footer .footer-links img{
        margin: 0;
        margin-bottom: 20px;    
    }
    .footer .footer-links ul{
        text-align: center;
    }
    .footer .footer-links ul li{
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }
    .footer .footer-social{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .footer .footer-social img{
        margin: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px){
    .footer{
        height: fit-content;
        font-size: 22px;
    }
}
@media (max-width:376px){
    .footer{
        height: fit-content;
    }
    .footer .row{
        flex-flow: column;
    }
    .footer .footer-links{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .footer .footer-links img{
        margin: 0;
        margin-bottom: 20px;    
    }
    .footer .footer-links ul{
        text-align: center;
    }
    .footer .footer-links ul li{
        display: block;
        margin: 0;
        margin-bottom: 20px;
    }
    .footer .footer-social{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .footer .footer-social img{
        margin: 0;
        margin-bottom: 20px;
    }
}
/* end footer*************************************************************************/

@media (min-width: 576px) {
    .container { 
        max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }